<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" 
    crossorigin="anonymous" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='/stylesheets/sidebar.css' />
  </head>
  <body>
    <div class="grid-container">
      <div class="sidebar">
        <button class="button">☰</button>
        <ul class="menu-items">
          <li><a href="" class="item-mini "><i class="fa-solid fa-person"></i></a><a class="item-mega" href="">Alumno</a></li>
          <li><a href="" class="item-mini "><i class="fa-solid fa-person"></i></a><a class="item-mega" href="">Profesor</a></li>
          <li><a href="" class="item-mini "><i class="fa-solid fa-person"></i></a><a class="item-mega" href="">Semestre</a></li>
          <li><a href="" class="item-mini "><i class="fa-solid fa-person"></i></a><a class="item-mega" href="">Carrera</a></li>
          <li><a href="" class="item-mini "><i class="fa-solid fa-person"></i></a><a class="item-mega" href="">Horario</a></li>
          <li><a href="" class="item-mini "><i class="fa-solid fa-person"></i></a><a class="item-mega" href="">Grupo</a></li>
          <li><a href="" class="item-mini "><i class="fa-solid fa-person"></i></a><a class="item-mega" href="">Asignatura</a></li>
        </ul>
      </div>
      <div class="main-content">
          <nav class="navbar ">
          <div class="">
              <a class="" href="#">
              <img src="./images/control-escolar.png" alt="" width="120" height="40">
              </a>
          </div>
          </nav>