    <%- include('./partials/header.ejs') %>
    <div class="table-container">
        <table>
            <thead>
                <th colspan="2">Matricula</th>
                <th colspan="2">Nombre</th>
                <th colspan="2">Apelido paterno</th>
                <th colspan="2">Apelido materno</th>
                <th colspan="2">Correo</th>
                <th colspan="2">Estado</th>
                <th colspan="2">Acciones</th>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                    <td colspan="2"></td>
                </tr>
            </tbody>
        </table>
        </div>

    <%- include('./partials/footer.ejs') %>